#formulaire > form  fieldset legend{
    font-weight: bold;
}

#formulaire > form fieldset label{
    font-weight: bold;
}

#formulaire fieldset:not(#cartetype)>*{
    display: block;
}

#formulaire{
    text-align: left;
}

#btValidation{
    width: 100%;
    background-color: rgb(13, 126, 13);
    color: white;
    text-shadow: black .1rem 0 .5rem ;
    padding: .5rem;
}

main{
    margin-bottom: 1rem;
}

#formulaire > form > *:not(:first-child){
    margin-top: 1rem;
}

#formulaire > form{
    width: 100%;
    padding: 2rem;
    border: .1rem solid gray;
    border-radius: 1rem;;
}

#formulaire > form fieldset{
    padding: 2rem;
}

#formulaire{
    width: 100%;
    padding: 4rem;
    box-shadow: 0 0 .5rem .5rem rgba(0,0,0,0.2);
}

#mainsection{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#donationimage{
    max-width: 20rem;
    max-height: 20rem;
}

#donationimage > img{
    width: 100%;
    height: 100%;
}

